form {
    position: absolute;
    top: calc(50% + 1.5rem);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    min-width: 500px;
    max-height: calc(100vh - 9em);
}

form button {
    margin: 0px;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--contentBackgroundColor);
    border-radius: 8px;
    text-decoration: none;
    font-size: 2em;
    font-style: bold;
    display: block;
    border: solid 3px transparent;
    width: 100%;
}

form button:hover,
form button:focus,
form input:hover,
form input:focus,
form textarea:hover,
form textarea:focus {
    border: solid 3px var(--accentColor);
    outline: none;
}

form button:active,
form input:active,
form textarea:active {
    background-color: var(--accentColor);
}

form label {
    display: block;
    text-align: left;
    font-size: 1.4em
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    background-color: var(--contentBackgroundColor);
    border: solid transparent 3px;
    border-radius: 5px;
}

form textarea {
    resize: vertical;
}